derm_lens_ai/__pycache__
derm_lens_ai/Test
derm_lens_ai/Train
derm_lens_ai/.virtual_documents
derm_lens_ai/.Trash-0
derm_lens_ai/.ipynb_checkpoints
derm_lens_ai/Notebooks/.ipynb_checkpoints
derm_lens_ai/Scripts/.ipynb_checkpoints